@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: auto;
}

body {
  color: #1a1a1a;
  background: #f5f5f3;
  font-family: Arial, Helvetica, sans-serif;
}

/* Lenis overrides */
html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}
